brown = #f4a62a
stone = #95A5A6
off-white = #ecf0f1

body
	background-color off-white

.room
	background-color black

// .room
// 	display inline-block
// 	height 30vh
// 	background-color stone
	
// .door
// 	display inline-block
// 	background-color brown
// 	height 30px
// 	width 30px
// 	&-vertical
// 		float none
// 		vertical-align middle
// 	// &-horizontal	
// 	&-container
// 		width 550px
// 		padding 5px
	

// .door-container
// 	display flex
// 	justify-content space-between	
	
// .gutter
// 	padding 0	
// 	&-horizontal
// 		height 30px
// 	&-vertical
// 		width 50px
// 		padding 0 5px
// 		line-height 200px 
// 		text-align center